@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
:root {
    --main-bg-color: #f5f7fa;
    --main-text-color: #46474A;
    --main-border-color: #e3e6ed;
    --primary-blue-color: #03477F;
    --primary-hover-color: #285DA6;
    --secondary-blue-color: #0A66CD;
    --active-blue-color: #E5F0FA;
    --white-color: #FFFFFF;
    --yellow-orange-color: #F5B800;
    --red-color: #FF0000;
    --green-color: #31AB45;
    --gray-icon-color: #9A9A9A;
    --transparent-green-color: rgba(0, 128, 0, .10);
    --transparent-red-color: rgba(255, 0, 0, .15);
    --transparent-yellow-color: rgba(255, 165, 0, .15);
    --gray-700-color: #7E7E7E;
    --border: 1px var(--main-border-color) solid;
    --nav-height: 83px;
    --side-nav-width: 247px;
    --shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    background-color: var(--main-bg-color);
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p, a, label {
    color: var(--main-text-color);
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    color: var(--main-border-color);
    opacity: 1;
}

label {
    color: #52525b;
}

.layout-container {
    position: relative;
}

.layout-container__header {
    z-index: 999;
}

.primary-navigation {
    position: fixed;
    width: 100%;
    background-color: var(--white-color);
    border-bottom: var(--border);
    z-index: 998;
}

.primary-navigation__list {
    display: flex;
    gap: 1.5rem;
    padding: 1rem 2rem;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.primary-navigation__nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem; 
}

.primary-navigation__nav-item-link--flex-center {
    display: flex;
    align-items: center;
}

.primary-navigation__nav-item-link-icon {
    font-size: 1.4rem;
    color: var(--gray-icon-color);
    transition: color 0.3s ease;
}

.primary-navigation__nav-item-link-icon:hover {
    color: var(--secondary-blue-color);
}

.primary-navigation__nav-item--relative {
    position: relative;
}

.primary-navigation__notification-menu {
    position: absolute;
    display: none;
    border: var(--border);
    margin-top: 1.8rem;
    top: 100%;
    right: 0;
    height: auto;
    border-radius: 0 0 10px 10px;
    min-width: 25rem;
    background-color: var(--white-color);
    box-shadow: var(--shadow);
}

.primary-navigation__notification-menu[data-visible="true"] {
    display: block;
}

.primary-navigation__nav-item-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.primary-navigation__nav-item-button-icon {
    font-size: 1.4rem;
    color: var(--gray-icon-color);
    transition: color 0.3s ease;
}

.primary-navigation__nav-item-button-icon:hover {
    color: var(--secondary-blue-color);
}

.primary-navigation__notification-menu-header {
    padding: 1.25rem 1.25rem 0 1.25rem;
}

.primary-navigation__notification-menu-title {
    font-weight: 700;
    font-size: 1.2rem;
}

.primary-navigation__notification-menu-list {
    padding: 0;
    margin-top: 1rem;
}

.primary-navigation__notification-menu-item {
    padding: 0.5rem 1.25rem;
    cursor: pointer;
}

.primary-navigation__notification-menu-item:hover {
    background-color: rgb(249, 250, 251);
}

.primary-navigation__notification-menu-item-timestamp {
    display: block;
    font-size: 0.9rem;
    margin-top: 0.3rem;
    color: var(--gray-700-color);
}

.primary-navigation__notification-menu-link {
    display: block;
    border-top: 1px var(--main-border-color) solid;
    border-radius: 0 0 5px 5px;
    color: var(--secondary-blue-color);
    padding: 1rem;
    margin-top: 1.25rem;
    text-align: center;
}

.primary-navigation__notification-menu-link:hover {
    background-color: var(--active-blue-color);
}

.side-navigation {
    position: fixed;
    max-width: var(--side-nav-width);
    margin-top: var(--nav-height);
    width: 100%;
    min-height: 100%;
    border-right: 1px var(--main-border-color) solid;
    background-color: var(--white-color);
	z-index: 9998;
}

.side-navigation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.side-navigation__nav-item {
    margin: 0.2rem 0;
    width: 100%;
}

.side-navigation__nav-item-link {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.8rem;
    font-size: 0.8rem;
    transition: all 0.1s ease;
}

.side-navigation__nav-item-link:hover{ 
    background-color: var(--active-blue-color);
    border-radius: 5px;
    color: var(--secondary-blue-color);
}

.active-item {
    background-color: var(--active-blue-color);
    border-radius: 5px;
}

.active-item a {
    color: var(--secondary-blue-color);
    font-weight: 500;
}

.main-content {
    min-height: 100vh;
    height: auto;
    padding: calc(var(--nav-height) + 2rem) 2rem 2rem calc(var(--side-nav-width) + 2rem);
    background-color: transparent;
}

.main-content__flex-container {
    min-height: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
}

.main-content__left {
    flex: 2;
}

.main-content__right {
    flex: 1;
}

.content-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.content-head--column {
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.content-head__title {
    font-size: 2.3rem;
    margin: 0;
}

.widget-tiles {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.2rem;
}

.widget-tiles__tile {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 1.25rem;
    border-radius: 5px;
    width: 100%;
    box-shadow: var(--shadow);
}

.widget-tiles__tile-number {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 1.7rem;
}

.widget-tiles__tile-description {
    color: var(--main-text-color);
}

.widget-tiles__tile-image-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
}

.widget-tiles__tile-image-container--blue {
    background-color: var(--active-blue-color);
}

.widget-tiles__tile-image-container--orange {
    background-color: var(--transparent-yellow-color);
}

.widget-tiles__tile-image-container--green {
    background-color: var(--transparent-green-color);
}

.widget-tiles__tile-image-container--red {
    background-color: var(--transparent-red-color);
}

.footer-navigation {
    margin-left: var(--side-nav-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: var(--primary-blue-color);
}

.footer-navigation p, 
.footer-navigation a {
    color: var(--white-color);
    font-size: 0.8rem;
}

.footer-navigation ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1.2rem;
}

.content-container {
    padding: 1.25rem;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: var(--shadow);
    margin: 2rem 0;
}

.tabs-navigation {
    border-bottom: var(--border);
    margin-bottom: 2rem;
}

.tabs-navigation__nav-items {
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.tabs-navigation__nav-item {
    display: flex;
    align-items: center;
    color: var(--main-text-color);
    gap: 0.5rem;
    border: none;
    background-color: transparent;
    padding-bottom: 1rem;
    transition: all 0.1s ease;
}

.tabs-navigation__nav-item:hover {
    box-shadow: 0 6px 0 -2px var(--secondary-blue-color);
}

.tabs-navigation__nav-item--active {
    box-shadow: 0 6px 0 -2px var(--secondary-blue-color);
}

.tab-content {
    display: none;
}

.tab-content--active {
    display: block;
}

.fade-in {
    animation: fadeIn 1s;
    opacity: 1;
}

.tab-content__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    border-spacing: 0;
    margin: 0;
}

.table__data--text-right {
    text-align: right;
}

.table__data--flexed {
    display: flex;
    gap: 4px;
    justify-content: end;
    flex-wrap: wrap;
}

.table tr:nth-child(even) { 
    background-color: #f9fafb; 
}

.table__data {
    font-size: 0.9rem;
}

.table__row-status {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    font-size: 0.9rem;
}

.table__head .table__heading {
    text-align: left;
    font-weight: 500;
    color: var(--white-color);
    padding: 1rem;
    background-color: #475466;
}

.table__head .table__heading:first-child {
    border-radius: 10px 0 0 0;
}

.table__head .table__heading:last-child {
    border-radius: 0 10px 0 0;;
}


.table td {
    background-color: transparent;
    box-shadow: none;
    border: none;
    vertical-align: middle;
    padding: 1rem;
}

.table__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border-top: var(--border);
    padding: 1rem 1rem 0 1rem;
}

.table__footer-caption {
    color: var(--gray-700-color);
}

.button {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
}

.button-primary {
    padding: 10px 15px;
    color: var(--white-color);
    background-color: var(--primary-blue-color);
    transition: all 0.1s ease;
}

.button-primary:hover {
    background-color: var(--primary-hover-color);
}

.button-large {
    padding: 15px;
    font-size: 1rem;
}

.button-light {
    padding: 5px 10px;
    background-color: #f5f7fa;
    border: var(--border);
    color: black;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    transition: all 0.3s ease;
}

.button-light:hover {
    background-color: #d1d5db;
    border: 1px #d1d5db solid;
    box-shadow: none;
}

.button--white {
    background-color: var(--white-color);
}

.button-50 {
    width: 49%;
}

.primary-navigation__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0.5rem;
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.2rem;
}

.primary-navigation__circle--blue {
    background-color: var(--primary-blue-color);
}

/* Navigation */
.primary-navigation__hamburger {
	display: none;
}

.primary-navigation__hamburger span {
	background-color: var(--main-text-color);
	width: 28px;
	height: 3px;
	transform-origin: left;
	transition: all .3s ease-in-out;
}

.primary-navigation__hamburger[aria-expanded="true"] span:nth-child(1) {
	transform: rotate(45deg) translate(5px, -3px);
}

.primary-navigation__hamburger[aria-expanded="true"] span:nth-child(2) {
	opacity: 0;
}

.primary-navigation__hamburger[aria-expanded="true"] span:nth-child(3) {
	transform: rotate(-45deg) translate(4px, 3px);
}

/* Utilities */
.bordered {
    border: var(--border);
    border-radius: 5px;
}

.bold-500 {
    font-weight: 500;
}

.dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.dot--green {
    background-color: var(--green-color);
}

.dot--red {
    background-color: var(--red-color);
}

.dot--orange {
    background-color: var(--yellow-orange-color);
}

.transparent-green {
    background-color: var(--transparent-green-color);
}

.transparent-red {
    background-color: var(--transparent-red-color);
}

.transparent-yellow {
    background-color: var(--transparent-yellow-color);
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.divider__text {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 2rem;
}

.divider__line {
    height: 2px;
    width: 25%;
    background-color: var(--main-border-color);
}

.error-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.error-container__error-code {
    font-size: 1.3rem;
    color: #A299AC;
    font-weight: 600;
}

.error-container__description {
    color: #727272;
    margin-top: 2rem;
}

.error-container__footer {
    margin-top: 3rem;
}

.input-grouping__subtitle {
    font-size: 1.2rem;
    font-weight: 500;
}

.input-grouping__column {
    margin-bottom: 1rem;
}

.cart__content-container {
    position: fixed;
    padding: 1.25rem;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: var(--shadow);
    margin: 2rem 0;
    z-index: 1;
}

.cart {
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__title {
    font-size: 1.2rem;
    margin: 0;
}

.cart__body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
}

.cart__subtitle {
    font-size: 1.1rem;
}

.cart__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__item-name {
    font-weight: 500;
}

.cart__item-price {
    font-weight: 500;
    color: var(--secondary-blue-color);
}

.cart__footer {
    margin-top: 4rem;
}

.cart__total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__total-title {
    font-size: 1.2rem;
}

.cart__verification {
    margin: 1rem 0;
}

.cart__action {
    margin-top: 2rem;
    display: flex;
    justify-content: end;
}

.fixed-scroll-limit {
    position: absolute;
    min-width: 100%;
    bottom: 0; /* Set the maximum top position for the fixed element */
}

/* Select Packages */
.select-packages {
    min-width: 100%;
}

.select-packages__section {
    margin: 2rem 0;
}

.select-packages__section-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.select-packages__items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.select-packages__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-packages__item-left, 
.select-packages__item-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* breadcrumbs */
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.breadcrumbs__item-name {
    font-weight: 1.3rem;
    color: #a1a1aa;
}

.breadcrumbs__item-name--complete {
    font-weight: 600;
    color: var(--secondary-blue-color);
}

/* Media Queries */
@media screen and (max-width: 1110px) {
    .widget-tiles {
        gap: 0.5rem;
    }
}

@media screen and (max-width: 1042px) {
    .widget-tiles {
        flex-direction: column;
    }
}

@media screen and (max-width: 845px) {
    .main-content {
        padding: calc(var(--nav-height) + 1rem) 1rem 1rem 1rem;
    }

    .primary-navigation__logo-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1rem;
    }

    .primary-navigation__list {
        padding: 1rem;
    }
    
    .primary-navigation__hamburger {
        z-index: 9999;
        display: flex;
        background-color: var(--white);
        flex-direction: column;
        gap: 8px;
        cursor: pointer;
        border: none;
        border-radius: 10px;
    }
    
    .side-navigation {
        transform: translateX(-100%);
	    transition: transform 200ms ease-in-out;
    }

    .side-navigation[data-visible="true"] {
        transform: translateX(0%);
        max-width: 100%;
        width: 100%;
    }

    .footer-navigation {
        margin: 0;
    }
}

@media screen and (max-width: 1172px) {
    .main-content__flex-container {
        flex-direction: column;
    }

    .cart__content-container {
        position: static;
    }
}

@media screen and (max-width: 762px) {
    .footer-navigation {
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (max-width: 572px) {
    .footer-nav-list {
        flex-direction: column;
    }
}

@media screen and (max-width: 541px) {
    .primary-navigation__notification-menu {
        top: 100%;
        right: -5rem;
        min-width: 300px;
        max-width: 360px;
    }
}

@media screen and (max-width: 1053px) {
    .table__data--flexed {
        flex-direction: column;
    }
    
    .table__button-image {
        display: none;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up {
    animation: slide-up 0.2s ease-in-out;
}