@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');
:root {
    --main-bg-color: #f5f7fa;
    --main-text-color: #46474A;
    --main-border-color: #e3e6ed;
    --primary-blue-color: #03477F;
    --primary-hover-color: #285DA6;
    --secondary-blue-color: #0A66CD;
    --active-blue-color: #E5F0FA;
    --white-color: #FFFFFF;
    --yellow-orange-color: #F5B800;
    --red-color: #FF0000;
    --green-color: #31AB45;
    --transparent-green-color: rgba(0, 128, 0, .25);
    --transparent-red-color: rgba(255, 0, 0, .25);
    --transparent-yellow-color: rgba(255, 165, 0, .25);
    --gray-700-color: #7E7E7E;
    --border: 1px var(--main-border-color) solid;
    --nav-height: 83px;
    --side-nav-width: 247px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

html, body {
    background-color: var(--main-bg-color);
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: var(--main-text-color);
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.sidenav-main-wrapper {
    position: relative;
}

.primary-navigation {
    position: fixed;
    width: 100%;
    background-color: var(--white-color);
    border-bottom: var(--border);
}

.nav-list {
    display: flex;
    gap: 1.5rem;
    padding: 1rem 2rem;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem; 
}

.side-navigation {
    position: fixed;
    max-width: var(--side-nav-width);
    margin-top: var(--nav-height);
    width: 100%;
    min-height: 100%;
    border-right: 1px var(--main-border-color) solid;
    background-color: var(--white-color);
	z-index: 9998;
}

.side-navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.side-nav-item {
    margin: 0.2rem 0;
    width: 100%;
}

.side-nav-link {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.8rem;
    font-size: 0.8rem;
    transition: all 0.1s ease;
}

.side-nav-link:hover{ 
    background-color: var(--active-blue-color);
    border-radius: 5px;
    color: var(--secondary-blue-color);
}

.active-item {
    background-color: var(--active-blue-color);
    border-radius: 5px;
}

.active-item a {
    color: var(--secondary-blue-color);
    font-weight: 500;
}

.main-content {
    min-height: 100vh;
    padding: calc(var(--nav-height) + 2rem) 2rem 2rem calc(var(--side-nav-width) + 2rem);
    background-color: transparent;
}

.content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.content-top h1 {
    font-size: 2.3rem;
    margin: 0;
}

.widget-tiles {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.2rem;
    margin: 2rem 0rem;
}

.tile {
    background-color: var(--white-color);
    padding: 1.3rem 1rem;
    border: var(--border);
    border-radius: 5px;
    width: 100%;
}

.tile-num {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 1.7rem;
}

.tile-description {
    color: var(--main-text-color);
}

.footer-navigation {
    margin-left: var(--side-nav-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--primary-blue-color);
}

.footer-navigation p, 
.footer-navigation a {
    color: var(--white-color);
    font-size: 0.8rem;
}

.footer-navigation a {
    text-decoration: underline;
}

.footer-navigation ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1.2rem;
}

.wrapper {
    padding: 1rem;
    background-color: var(--white-color);
}

.tabs-navigation {
    border-bottom: var(--border);
}

.tab-list {
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.tab-item {
    padding-bottom: 1rem;
}

.tab-active {
    border-bottom: 3px var(--secondary-blue-color) solid;
}

.tab-content-head {
    margin-top: 1rem;
}

.tab-content-head h2 {
    font-size: 1.5rem;
    margin: 0;
}

.table-container {
    width: 100%;
    overflow-x: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
}

.table td {
    background-color: transparent;
    box-shadow: none;
    border: none;
    vertical-align: middle;
    padding: 1rem;
}

.table tr:nth-child(even) { 
    background-color: #f9fafb; 
} 

.table-head th {
    text-align: left;
    font-weight: 500;
    color: var(--gray-700-color);
    padding: 1rem;
    border-bottom: var(--border);
}

.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border-top: var(--border);
    padding-top: 1rem;
}

.table-footer p {
    color: var(--gray-700-color);
}

.button {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
}

.button-primary {
    padding: 10px 15px;
    color: var(--white-color);
    background-color: var(--primary-blue-color);
    transition: all 0.1s ease;
}

.button-primary:hover {
    background-color: var(--primary-hover-color);
}

.button-large {
    padding: 15px;
    font-size: 1rem;
}

.button-light {
    padding: 5px 10px;
    background-color: var(--white-color);
    border: var(--border);
    transition: all 0.3s ease;
}

.button-light:hover {
    background-color: var(--active-blue-color);
    color: var(--secondary-blue-color);
    border-color: var(--primary);
}

.button-action {
    width: 100%;
    font-size: 1rem;
}

.circle-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--primary-blue-color);
    border-radius: 50%;
    padding: 0.5rem;
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.2rem;
}

/* Navigation */
.hamburger {
	display: none;
}

.hamburger span {
	background-color: var(--main-text-color);
	width: 28px;
	height: 3px;
	transform-origin: left;
	transition: all .3s ease-in-out;
}

.hamburger[aria-expanded="true"] span:nth-child(1) {
	transform: rotate(45deg) translate(5px, -3px);
}

.hamburger[aria-expanded="true"] span:nth-child(2) {
	opacity: 0;
}

.hamburger[aria-expanded="true"] span:nth-child(3) {
	transform: rotate(-45deg) translate(4px, 3px);
}

/* Utilities */
.bordered {
    border: var(--border);
    border-radius: 5px;
}

.bold-500 {
    font-weight: 500;
}

.status {
    display: block;
    text-align: center;
    padding: 5px 10px;
    margin-right: 5%;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.hyperlink {
    color: var(--secondary-blue-color);
    text-decoration: underline;
}

.transparent-green {
    background-color: var(--transparent-green-color);
}

.transparent-red {
    background-color: var(--transparent-red-color);
}

.transparent-yellow {
    background-color: var(--transparent-yellow-color);
}

/* Media Queries */
@media screen and (max-width: 1110px) {
    .widget-tiles {
        gap: 0.5rem;
    }
}

@media screen and (max-width: 1042px) {
    .widget-tiles {
        flex-direction: column;
    }
}

@media screen and (max-width: 845px) {
    .main-content {
        padding: calc(var(--nav-height) + 1rem) 1rem 1rem 1rem;
    }

    .logo-ham {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1rem;
    }
    
    .hamburger {
        z-index: 9999;
        display: flex;
        background-color: var(--white);
        flex-direction: column;
        gap: 8px;
        cursor: pointer;
        border: none;
        border-radius: 10px;
    }
    
    .side-navigation {
        transform: translateX(-100%);
	    transition: transform 200ms ease-in-out;
    }

    .side-navigation[data-visible="true"] {
        transform: translateX(0%);
        max-width: 100%;
        width: 100%;
    }

    .footer-navigation {
        margin: 0;
    }
}

@media screen and (max-width: 762px) {
    .footer-navigation {
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (max-width: 572px) {
    .footer-nav-list {
        flex-direction: column;
    }
}